<div class="admin-page-container">
  <h2>Admin Dashboard</h2>

  <div class="button-group">
    <button class="nav-button" (click)="goToSeatManagement()">
      💺 Seat Management
    </button>
    <button class="nav-button" (click)="goToEmployeeManagement()">
      👤 Employee Management
    </button>
    <button class="nav-button" (click)="goToRoleManagement()">
      🛠 Role Management
    </button>
    <button class="nav-button" (click)="goToZoneManagement()">
      🌐 Zone Management
    </button>
  </div>
</div>
