<div class="admin-page-container">
  <h2>Admin Dashboard</h2>

  <div class="button-group">
    <button *ngIf = "role == 'admin'" class="nav-button" (click)="goToSeatManagement()">
      💺 Seat Management
    </button>
    <button *ngIf = "role == 'admin' || role == 'supervisor-2'" class="nav-button" (click)="goToEmployeeManagement()">
      👤 Employee Management
    </button>
    <button *ngIf = "role == 'admin'" class="nav-button" (click)="goToRoleManagement()">
      🛠 Role Management
    </button>
    <button *ngIf = "role == 'admin'" class="nav-button" (click)="goToZoneManagement()">
      🌐 Zone Management
    </button>
       <button *ngIf = "role == 'admin' || role == 'supervisor-2'" class="nav-button" (click)="goToDashboard()">
      Dashboard
    </button>
  </div>
</div>
