<header class="app-header">
  <img src="assets/ups-logo.png" alt="UPS Logo" class="logo" />
  <h1 class="title">Flexi Seat Booking</h1>
</header>
<div class="date-picker-container">
  <button routerLink="/zone-viewer" class="nav-button">Zone Viewer</button>
  <label for="booking-date">Select Booking Date:</label>
  <input
    id="booking-date"
    type="date"
     [min]="today"
    [(ngModel)]="selectedDate"
    (change)="onDateSelected()"
  />
</div>

<!-- <app-seat-admin></app-seat-admin> -->
<div class="section fade-section" *ngIf="selectedDate">
  <!-- <app-manager-seat-filter (filterRegions)="applyRegionFilter($event)"(manager)="CheckManager($event)"></app-manager-seat-filter> -->
  <app-seat-map
  *ngIf="filteredSeatData"
    [seatRows]="filteredSeatData"
    (seatSelected)="onSeatSelected($event)"
     (individualSelected)="individualseatSelected($event)"
    [isSupervisor]="loggedInUserRole === 'supervisor'"
    [teamMembers]="myTeam"
    (bulkBooked)="onBulkBooking($event)"
    >
  </app-seat-map>
</div>

