 <div class="seat-map">
<button *ngIf="isSupervisor" class="bulk-book-button" (click)="openBulkBookingPopup()">
   Bulk Book Seats
</button>
<!-- Individual Seat Confirmation Modal -->
<div class="seat-confirmation-modal" *ngIf="selectedSeat">
  <h3>Seat Confirmation</h3>
  <p>Seat <strong>{{ selectedSeat.number }}</strong> is currently <strong>{{ selectedSeat.status }}</strong>.</p>

  
  <div class="modal-actions">
    <button (click)="bookSelectedSeat()">✅ Book</button>
    <button (click)="cancelSeat()">❌ Cancel</button>
    <button class="close" (click)="closeConfirmation()">Close</button>
  </div>
</div>

  <!-- Bulk Booking Modal -->
<div class="bulk-booking-modal" *ngIf="showPopup">
  <h3>Select Team Members</h3>
  <div class="team-list">
    <label *ngFor="let emp of teamMembers">
      <input type="checkbox" [(ngModel)]="emp.selected" />
      {{ emp.name }}
    </label>
  </div>
  <div class="modal-actions">
    <button (click)="confirmBulkBooking()">Submit</button>
    <button (click)="closePopup()">Cancel</button>
  </div>
</div>

    <div *ngFor="let row of chunkedSeatRows" class="seat-row">
      <div *ngFor="let seat of row"
           [ngClass]="seat.status"
           (click)="onSeatClick(seat)"
           class="seat  chair">
        {{ seat.number }} 
      </div>
    </div>
  </div>
  
  
  <div class="legend">
    <div class="legend-item">
      <div class="seat available"></div>
      <span>Available</span>
    </div>
    <div class="legend-item">
      <div class="seat booked"></div>
      <span>Booked</span>
    </div>
    <div class="legend-item">
      <div class="seat confirmed"></div>
      <span>Confirmed</span>
    </div>
    <div class="legend-item">
      <div class="seat checked"></div>
      <span>Checked-In</span>
    </div>
  </div>
  




